# Pin Werkzeug because it keeps breaking Flask!
Werkzeug

# Runtime dependencies
Flask>=2.1.4
Flask-SQLAlchemy>=3.0.2
psycopg2-binary
python-dotenv

# Runtime tools
gunicorn
honcho

# Code quality
pylint
flake8
black

# Testing dependencies
nose
pinocchio
factory-boy

# Code Coverage
coverage
codecov

# Utilities
httpie
Flask-Talisman
